@page
@using Evat.IdentityServer.Pages.Account
@model             ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    ViewData["ActivateTitle"] = "Activate Account";

    var resultData = Model.Input == null ? "" : "";
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-cover">
                <div class="auth-inner row m-0">
                    <!-- Brand logo--><a class="brand-logo">
                        <img src="~/img/logo-1.png" alt="" />

                    </a>
                    <!-- /Brand logo-->
                    <!-- Left Text-->
                    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5 bg-cover" style="background-image:url('/img/login-bg.png')">
                    </div>
                    <!-- /Left Text-->
                    <!-- Login-->

                    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">

                            @if(Model.Input != null)
                            {
                                @if (Model.Input.Type == "unblock")
                                {
                                    <h2>@ViewData["ActivateTitle"] 🔒</h2>
                                }
                                else
                                {
                                    <h2>@ViewData["Title"] 🔒</h2>
                                }

                            }else {

                                <h2> @ViewData["Title"]  🔒</h2>
                            }
                            

                            @*<h1 class="card-title fw-bold mb-1" style="text-align: center !important;"><b>Welcome to</b> <img src="~/img/logo-1.png" height="35px" style="margin-bottom: 15px;" alt="" /></h1>*@

                           @* <div class="divider my-2">
                                <div class="divider-text">
                                    @if (Model.Input.Type == "unblock")
                                    {
                                        <h5>@ViewData["ActivateTitle"]</h5>
                                    }
                                    else
                                    {
                                        <h5>@ViewData["Title"]</h5>
                                    }
                                </div>
                            </div>*@
                            <form class="auth-login-form mt-2" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="Input.Code" type="hidden" />
                                <input asp-for="Input.UserName" type="hidden" />
                                <input asp-for="Input.Type" type="hidden" />
                                <input asp-for="Input.ReturnUrl" type="hidden" />

                                @if(Model.Input?.Type == "unblock"){
                                    <div class="mb-1">
                                        <div class="form-check">
                                            <input class="form-check-input" id="two-factor" type="checkbox" tabindex="3"  checked disabled/>
                                            <label class="form-check-label" asp-for="Input.Type" for="two-factor"><h5>Two Factor authentication</h5></label>
                                        </div>
                                    </div>
                                     <div class="mb-1">
                                         <small>
                                                Two-factor authentication improves the security of your account.
                                                In addition to your normal credentials,
                                                you'll also need to provide an authentication code when logging in
                                         </small>
                                    </div>
                                }
@*
                                <div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" asp-for="Input.Password">New Password</label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input class="form-control form-control-merge" asp-for="Input.Password" id="userPass" type="password" name="reset-password-new" placeholder="············" aria-describedby="reset-password-new" autofocus="" tabindex="1" /><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>*@

                                <div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                    <label class="form-label" asp-for="Input.Password"></label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                    <input class="form-control" placeholder="Password" asp-for="Input.Password" id="userPass" autofocus><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>

                                @*<div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input class="form-control form-control-merge" asp-for="Input.ConfirmPassword" id="userConfirmPass" type="password" name="reset-password-confirm" placeholder="············" aria-describedby="reset-password-confirm" tabindex="2" /><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>*@

                                <div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                    <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                    <input class="form-control" placeholder="Confrim Password" asp-for="Input.ConfirmPassword" id="userConfirmPass" autofocus><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                @*<div class="mb-1">

                                <div class="d-flex justify-content-between">
                                <a href="~/Account/Login"><small>Remember Password? Click Here</small></a>
                                </div>
                                </div>*@

                                <button type="submit" class="btn btn-primary w-100" tabindex="4" id="btnResetPass" disabled>Reset Password</button>
                            </form>



                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationSummary" />

    <script>
        $(document).ready(function () {
            $("#userConfirmPass").on("focusout", function () {
                if ($("#userPass").val() !== "") {
                    if ($("#userPass").val() !== $("#userConfirmPass").val()) {
                        alert("passwords does not match")
                        $("#btnResetPass").prop("disabled", true)
                    }else{
                        $("#btnResetPass").prop("disabled", false)
                    }
                } else {
                    $("#btnResetPass").prop("disabled", true)
                }

            })

        })
    </script>
}
